.title {
    text-align: center;
}

.product-r {
    position: absolute;
    margin-left: 226px;
    margin-top: 47px;
}

.blog-but {
    position: absolute;
    margin-left: 162px;
}

.actions {
    margin-top: 7px;
}

.cal-text {
    position: absolute;
    padding-left: 6px;
    margin-top: 3px;
}

.main-info {
    min-height: 125px !important;
}

.sub-head-di {
    display: inline-block;
}

.sub-head-div {
    display: inline-block;
    float: right;
    margin-right: 67px;
}

.top-toolbar {
    display: inline-block;
}