#scroll-item {
    cursor: all-scroll;
}

.blog-section {
    text-align: center;
}

.blog-heading h2 {
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: #3b89e9;
}

.blog-heading h3 {
    font-size: 22px;
}

.mat-card {
    padding: 0;
}

.mat-card-image {
    margin: 0;
}

.mat-card-content {
    padding: 10px;
}

.mat-card-content a {
    color: inherit;
}

.item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.owl-nav .my-but {
    background-color: red;
}

.next-prev-btn {
    float: right;
    position: absolute;
    display: block;
    margin-top: -77px;
    z-index: 1000;
}

.section-left-content {
    position: absolute;
    z-index: 9999;
    background: black;
    opacity: 0.5;
    color: white;
    margin-top: 15px;
}