.cal-text {
    padding-left: 6px;
    margin-top: 3px;
}

.main-info-1 {
    background: #79cadc;
    padding: 10px;
    margin-top: 20px;
    height: 61px;
}

.job-title {
    padding: 14px;
    border: 1px solid #fde7e7;
    background: aliceblue;
    text-decoration: underline;
}

.job-summary {
    padding: 14px;
    height: 122px;
}

.item-but {
    padding-top: 16px;
}