<form [formGroup]="signupForm" class="signup-form" fxLayout="column" fxLayoutAlign="start" (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>First Name</mat-label>
        <input formControlName="firstName" matInput type="text" name="firstName" placeholder="First Name" />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput type="text" name="lastName" placeholder="Last Name" />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>User Name</mat-label>
        <input formControlName="username" matInput type="text" name="username" placeholder="User Name" />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="phone" type="number" name="phone" placeholder="Mobile Number" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" name="email" placeholder="Email" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon matSuffix [ngStyle]="{'color': typePassword ? 'red': '#247ba0'}" (click)="togglePassword()">remove_red_eye</mat-icon>
        <input matInput formControlName="hashedPassword" type="{{ typePassword ? 'text' : 'password' }}" name="hashedPassword" placeholder="********" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" name="confirm_password" placeholder="********" formControlName="confirmPassword" />
        <mat-error>
            Password didn't match
        </mat-error>
    </mat-form-field>

    <mat-checkbox class="mb-24" formControlName="agreed">Agree to our Terms and Condition</mat-checkbox>
    <button class="mb-8" mat-raised-button color="primary" [disabled]="signupForm.invalid">Signup</button>


</form>