<div>
    <mat-sidenav-container>
        <mat-sidenav EgretSideNavToggle class="shop-sidebar default-light-bg">
            <div class="shop-filters-wrap">
                <form [formGroup]="filterForm">
                    <mat-accordion multi="true" displayMode="flat">
                        <!-- Main Category -->
                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Main Categories
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="product-categories">
                                <li *ngFor="let c of rootCategories$ | async" [ngClass]="{'fw-500': c.name === activeRootCategory}" (click)="setActiveMainCategory(c.name, c._id)">{{c.name}}</li>
                            </ul>
                        </mat-expansion-panel>
                        <!-- Categories -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Categories
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="product-categories">
                                <li *ngFor="let c of categories$ | async" [ngClass]="{'fw-500': c.name === activeCategory}" (click)="setActiveCategory(c.name)">{{c.name}}</li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                </form>
            </div>
        </mat-sidenav>
        <div class="shop-wrap" fxLayout="row" fxLayoutWrap="wrap">
            <!-- Filters -->
            <!-- Right side -->
            <div class="full-width">
                <!-- Search Form -->
                <div fxLayout="row" fxLayout.lt-sm="column" class="shop-top-toolbar">
                    <button mat-icon-button class="mr-1" (click)="toggleSideNav()"><mat-icon>short_text</mat-icon> </button>
                    <div class="product-search-wrap">
                        <form [formGroup]="filterForm" (ngSubmit)="searchSubmit()">
                            <input type="text" name="searchProduct" placeholder="Search product" class="product-search default-bg full-width" [formControl]="filterForm.controls['filterValue']">
                        </form>
                    </div>
                    <button mat-flat-button class="ml-1" [color]="'accent'" (click)="ngOnInit()">Reset Filter</button>
                    <!-- View change buttons and cart -->

                    <span fxFlex></span>
                    <div [fxHide.lt-md]="true">
                        <button mat-icon-button [color]="viewMode === 'list-view' ? 'primary' : ''" (click)="viewMode = 'list-view'">
              <mat-icon>format_list_bulleted</mat-icon>
            </button>
                        <button mat-icon-button [color]="viewMode === 'grid-view' ? 'primary' : ''" (click)="viewMode = 'grid-view'">
              <mat-icon>apps</mat-icon>
            </button>
                    </div>

                </div>
                <!-- Products container -->
                <div class="product-container" [ngClass]="{'list-view': viewMode === 'list-view'}">
                    <!-- Product Box -->
                    <div class="product-wrap" *ngFor="let product of products$ | async; let i = index;" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                        <div class="product-inner default-bg">
                            <div class="product-badge mat-elevation-z7" [ngStyle]="{background: '#f44336'}">
                                <span>Free</span>
                            </div>
                            <div class="featured-img" [routerLink]="['/course/freematd/', product._id]">
                                <img style="height: 170px;" [src]="product.image" alt="">
                            </div>
                            <div class="info-wrap p-1">
                                <div class="main-info">
                                    <h3 class="title" [routerLink]="['/course/freematd/', product._id]">{{ ((product ||{}).title ||{}).length>=21 ? product.title.substring(0, 21) + '...' : product.title}}</h3>
                                    <p class="text-muted p-line"><strong>Subject:</strong> {{product?.subjectName}}</p>
                                    <p class="text-muted p-line"><strong>Category:</strong> {{product?.categoryName}}</p>
                                    <p class="text-muted p-line"><strong>Tags:</strong> <span> {{product?.summary}} </span> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Product -->

                    <div class="products-pagination">
                        <mat-paginator [pageIndex]="items.offset" (page)="setPage($event)" [length]="items.total" [pageSize]="items.limit" [pageSizeOptions]="paginatlimit">
                        </mat-paginator>
                    </div>

                </div>
                <!-- End Products container -->
            </div>

        </div>
    </mat-sidenav-container>
</div>